<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <apikeys>
    <add key="https://nuget.pkg.github.com/jpolvora/index.json" value="%NUGET_API_KEY%" />
  </apikeys>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="Microsoft.FeatureManagement.Plus" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>
